<h1>Aggiungi Disponibilità</h1>
    <form action="/disponibilita" method="post" >
      Ristorante ID <p>
      <input type="number" placeholder="" name="IdRistorante"><p>
      data <p>
      <input type="date"  name="Data"><p>
      Turno <p>
      <select name="Turno">
        <option value="pranzo">Pranzo</option>
        <option value="cena">Cena</option>
      </select><p>
        Posti <p>
      <input type="number"  name="Posti" min="1" max="500"><p>
      <input type="submit" value="Salva"><p>
    </form>
    <p> PROVA aggiungi disponibilita </p>
    <br/>
    <button onclick="window.location.href='/disp';">Indietro</button>
