<h1>Aggiungi Disponibilità</h1>
    <form action="/Prenotazione" method="post" >
      IdCliente <p>
      <input type="number" placeholder="" name="IdCliente" min="1" max="1000""><p>
        IdDisponibilita<p>
          <input type="number" placeholder="" name="IdDisponibilita" min="1" max="1000""><p>
    NumeroPosti <p>
      <input type="number"  name="NumeroPosti"><p>
      Richieste <p>
      <input type="text"  name="Richieste"><p>
      <input type="submit" value="Salva"><p>
    </form>
    <p> PROVA aggiungi Richieste </p>
    <br/>
    <button onclick="window.location.href='/disp';">Indietro</button>
