<h1>Aggiungi Ristorante</h1>
<form action="/Ristoranti" method="post" >
      Nome <p>
      <input type="text"  name="Nome"><p>
        Indirizzo<p>
          <input type="text"  name="Indirizzo"><p>
            Citta<p>
          <input type="text"  name="Citta"><p>
            email<p>
            <input type="text"  name="email"><p>
              telefono<p>
              <input type="text"  name="telefono"><p>
                Numero_posti<p>
                <input type="number"  name="Numero_posti"><p>
      <input type="submit" value="Salva"><p>
    </form>
    <p> PROVA aggiungi Ristorante </p>
    <br/>
    <button onclick="window.location.href='/disp';">Indietro</button>
