<html>
 <head> </head>
   <body>
     <p> Hello .</p>
     <h4> Benvenuto nel sito</h4>
     <button onclick="window.location.href='/Users';">Cliente</button>
     <button onclick="window.location.href='/Ristoratori';">Ristoratore</button>
   </body>
</html>
